.load{
    height: 100px;
    width:100px;
    border-radius: 50%;
    
    border: 15px solid #7569b6;
    border-top:15px solid #ad88c6b5;
    animation-name: spinanimate;
    animation-duration: 1s;
    animation-timing-function: steps(6);
    animation-iteration-count: infinite;
    

}
@keyframes spinanimate{
    from{transform: rotate(0deg);}
    to{rotate: 360deg;}
}